body {
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

.container {
  text-align: center;
  margin-top: 20vh;
  width: 100%;
}

.img-container {
  margin-right: 150px;
}

.dado {
  max-width: 300px;
  position: relative;
  z-index: 2;
  left: 300px;
  cursor: pointer;
}

.dado-animation {
  -webkit-animation: slide-in-tr-with-spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-tr-with-spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.dado-spin {
  -webkit-animation: spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fogo {
  max-width: 480px;
  position: relative;
  z-index: 1;
  top: -15px;
  -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}